# Server Configuration
PORT=3001

# Gemini API Key (If blank, Mock response will be used automatically)
GEMINI_API_KEY=

# SMTP Email Configuration (If blank, email contents will be printed to stdout)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
